# Import Package

In [2]:
import pandas as pd
import numpy as np
import lxml
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import requests
import re

# Request Data From Website, and Append Data To Different List

In [3]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
body = soup.find('tbody')
tags = body('td')
postal_code =list()
borough = list()
neigh = list()
a = 2
for tag in tags:
    a = a+1
    tag=str(tag)
    x = re.findall('^<td>(.+)', tag)
    if a%3 == 0:
        postal_code.append(x)
    elif a%3 == 1:
        borough.append(x)
    elif a%3 == 2:
        neigh.append(x)

# Convert List of List to The List Of String

In [4]:
postal_code = [''.join(x) for x in postal_code]
borough = [''.join(x) for x in borough]
neigh = [''.join(x) for x in neigh]

# Build A DataFrame

In [5]:
df = {'Postal Code': postal_code,
     'Borough': borough,
     'Neighborhood': neigh}
df = pd.DataFrame(df)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# Clean Empty Data

In [6]:
empty = df[df['Borough'] == 'Not assigned'].index
df.drop(empty, inplace = True)

In [7]:
df.reset_index(inplace = True, drop =True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
df.shape

(103, 3)

In [9]:
coord = pd.read_csv('C:\\Users\\vv123\\Desktop\\projects\\Coursera_Capstone\\Geospatial_Coordinates.csv')

In [10]:
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
df = pd.merge(df, coord, on = 'Postal Code')

In [12]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494